{% load static %}
<!DOCTYPE html>
<html class="no-js">
     <head>
            <meta charset="utf-8" />
            <meta http-equiv="x-ua-compatible" content="ie=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>{% block title %}{% endblock %}</title>
            <link rel="stylesheet" href="{% static "css/foundation.css" %}">
            <link rel="stylesheet" href="{% static "css/floating.css" %}">
            <link rel="stylesheet" href="{% static "css/topBar.css" %}">
            {% block css%}{% endblock %}
        </head>
    <body>
        <a href="/">
            <h1 style="color: red; text-align: center;">Giffy Maker</h1>
        </a>
        <div class="top-bar topbar-center-logo" id="topbar-center-logo">
            <div class="top-bar-left">
              <ul class="menu vertical medium-horizontal">
            {% if user.is_authenticated %}
           <a href="#"> Welcome {{ user.username }} </a> 
        {% else %}
            <a href="#"> Welcome Guest</a>
        {% endif %}
              </ul>
            </div>
            <div class="top-bar-center">
             
            </div>
            <div class="top-bar-right">
              <ul class="menu vertical medium-horizontal">
                {% if user.is_authenticated %}
                <a href="/logout/">Logout</a>
            {% else %}
                <a href="/login/">Login</a>
            {% endif %}
              </ul>
            </div>
          </div>
        <div>
        {% block content %}{% endblock %}
    </div>
        
      
    <script src="{% static "js/vendor.js" %}"></script>
    <script src="{% static "js/foundation.js" %}"></script>
        {% block scripts %}{% endblock %}
    </body>
</html>