{% extends "base.html" %}
{% load static %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static "css/infoCard.css" %}">
<ul class="grid-container">
    {% for itor in post %}
    <div class="card-info alert">
    <div class="card-info-content">
        <p class="net-votes">{{itor.getLikes}}</p>
        <div class="voting-buttons">
            <form action="{% url 'likePost' itor.pk %}" method="POST">
                {% csrf_token %}
                <button type="submit" name="post_id" value="{{ itor.id }}" id="like-button" class = "button"> 
                    Like
                </button>
            </form>
        </div>
       
            <a href="#" id="post-title">{{itor.header}}</a>
        </div>
    </div>
        <br>
    {% endfor %}
</ul>

{% endblock %}
{% block scripts %}
{% endblock %}