{% extends "base.html" %}
{% load static %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static "css/infoCard.css" %}">
<link rel="stylesheet" href="{% static "css/tags.css" %}">
<h5 class="tag-cloud-title">SELECT CATEGORY</h5>
    <div class="tag-cloud">
    {% for mt in common_tags %}
        <a href="{% url 'tagged' mt.slug %}" class="tag-cloud-individual-tag">{{mt}}</a>
    {% endfor %}
    </div>
<ul class="grid-container">
    {% for itor in post %}
    <div class="card-info alert">
    <div class="card-info-content">
        <p class="net-votes">{{itor.getLikes}}</p>
        <div class="voting-buttons">
            <form action="{% url 'likePost' itor.pk %}" method="POST">
                {% csrf_token %}
                <button type="submit" name="post_id" value="{{ itor.id }}" id="like-button" class = "button"> 
                    Like
                </button>
            </form>
        </div>
       
            <a href="#" id="post-title">{{itor.header}}</a>
            <img src=/MEDIA/{{itor.gif}} alt={{itor.post}}>
            <audio controls>
            <source src="/MEDIA/{{itor.audio}}">
            </audio>
        </div>
            <div>
                {% for cItor in itor.comments.all %}
                <p>{{cItor.comment}}</p>
                {% endfor %}
                {% if user.is_authenticated %}
                <a href="{% url 'addComment' itor.pk %}" class="button">comment</a>
                {% endif %}
            </div>
    </div>
        <br>
    {% endfor %}
</ul>

{% endblock %}
{% block scripts %}
{% endblock %}