{% extends "base.html" %}
{% load static %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static "css/infoCard.css" %}">
<link rel="stylesheet" href="{% static "css/tags.css" %}">
<h5 class="tag-cloud-title">SELECT CATEGORY</h5>
    <div class="tag-cloud">
    {% for mt in common_tags %}
        <a href="{% url 'tagged' mt.slug %}" class="tag-cloud-individual-tag">{{mt}}</a>
    {% endfor %}
    <a href="{% url 'popular' %}" class="tag-cloud-individual-tag">Popular</a>
    <a href="{% url 'new' %}" class="tag-cloud-individual-tag">New</a>
    </div>
<ul class="grid-container">
    {% if user.is_authenticated %}
    <div class="card-info alert">
        <div class="card-info-content">
            Subscriptions:
         {% for itor in currentSubs %}
         {{ itor.creator }},
        {% endfor %}
        <br>
        Subscribers:
        {% for itor in currentFollowers %}
            {{itor.subscriber}},
        {% endfor %}
            </div>
    </div>
    {% endif %}
    {% for itor in post %}
    <div class="card-info alert">
    <div class="card-info-content">
        Title: <a href="{% url 'detailPost' itor.pk %}">{{itor.header}}</a>
        Creator: <a href="{% url 'userView' itor.pk %}">{{itor.author}}</a>
        <br>
        Likes: <p class="net-votes">{{itor.getLikes}}</p>
        <div class="voting-buttons">
            <form action="{% url 'likePost' itor.pk %}" method="POST">
                {% csrf_token %}
                <button type="submit" name="post_id" value="{{ itor.id }}" id="like-button" class = "button"> 
                    Like
                </button>
            </form>
        </div>
           
            <a href="{% url 'sub' itor.pk %}" class="button">Subscribe</a>
        </div>
    </div>
        <br>
    {% endfor %}
</ul>
{% endblock %}
{% block scripts %}
{% endblock %}

